* {
    margin: 0;
    padding: 0;
}

:root{
 --shadow : rgb(46, 1, 1) 20px 10px 50px;
 --primaryColor: darkslategray;
}
body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}

#gameInfo {
    padding-top: 20px;
    width: 600px;
    height: 200px;
    box-shadow: var(--shadow);
    color: white;
    float: right;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 15px;
}

#gameInfo ul {  
    margin-left: 30%;
}

#gameInfo ul li {
    padding-top: 5px;
    list-style: none;
    list-style-position: inside;
}

#gameInfo h4 {
    padding-top: 10px;
    text-align: center;
}

canvas {
    box-shadow: var(--shadow);
    margin-bottom: 100px;
}